// Colors
$gray-1: #2f2f2f;
$gray-2: #444444;
$gray-3: #666666;
$gray-4: #999999;
$gray-5: #CCCCCC;
$gray-6: #EEEEEE;
$blue-1: #5e92f3;
$blue-2: #1565c0;
$blue-3: #003c8f;


// Transition
$default-transition: all 0.3s ease-in-out;

// Sizes
$fixed-header-height: 64px;
$wrapper-padding-large: 24px;
$wrapper-padding-small: 20px;
$main-col-width: 75%;