@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
/* line 1, ../sass/_partials/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../sass/_partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 29, ../sass/_partials/_reset.scss */
body {
  line-height: 1;
}

/* line 33, ../sass/_partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 47, ../sass/_partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, ../sass/_partials/_reset.scss */
a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* line 58, ../sass/_partials/_reset.scss */
::-webkit-scrollbar-track {
  background-color: #EEEEEE;
  border-radius: 2px;
}

/* line 63, ../sass/_partials/_reset.scss */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
  border-radius: 2px;
}

/* line 70, ../sass/_partials/_reset.scss */
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal {
  background-color: #444444;
  border-radius: 2px;
}

/* line 2, ../sass/_partials/_header.scss */
.header {
  background-color: #2f2f2f;
}
/* line 5, ../sass/_partials/_header.scss */
.header > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 60px;
}

/* line 13, ../sass/_partials/_header.scss */
.contact-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400;
}
@media (min-width: 1px) and (max-width: 767px) {
  /* line 13, ../sass/_partials/_header.scss */
  .contact-fixed {
    font-size: 12px;
  }
}
/* line 27, ../sass/_partials/_header.scss */
.contact-fixed ul {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
/* line 32, ../sass/_partials/_header.scss */
.contact-fixed ul li {
  position: relative;
  padding: 0 15px;
}
/* line 36, ../sass/_partials/_header.scss */
.contact-fixed ul li:hover {
  color: #1565c0;
}
/* line 40, ../sass/_partials/_header.scss */
.contact-fixed ul li:not(:first-child) {
  border-left: 1px solid #FFFFFF;
}

/* line 49, ../sass/_partials/_header.scss */
.logo {
  display: flex;
  width: 200px;
}
/* line 53, ../sass/_partials/_header.scss */
.logo a {
  display: flex;
}
/* line 57, ../sass/_partials/_header.scss */
.logo svg {
  width: 100%;
  height: auto;
  fill: #FFFFFF;
}

/* line 65, ../sass/_partials/_header.scss */
.menu {
  display: flex;
  position: relative;
}
@media (max-width: 1024px) {
  /* line 65, ../sass/_partials/_header.scss */
  .menu {
    align-items: center;
  }
}
/* line 74, ../sass/_partials/_header.scss */
.menu.-active .menu-list {
  opacity: 1;
  visibility: visible;
}
/* line 80, ../sass/_partials/_header.scss */
.menu.-active .hamburger-button .hamburger-line {
  opacity: 0;
}
/* line 84, ../sass/_partials/_header.scss */
.menu.-active .hamburger-button:before {
  transform: rotate(45deg) translate(8px, 8px);
}
/* line 88, ../sass/_partials/_header.scss */
.menu.-active .hamburger-button:after {
  transform: rotate(-45deg) translate(8px, -8px);
}

/* line 96, ../sass/_partials/_header.scss */
.hamburger-button {
  display: flex;
  align-items: center;
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
/* line 106, ../sass/_partials/_header.scss */
.hamburger-button:hover:before, .hamburger-button:hover:after, .hamburger-button:hover .hamburger-line {
  background-color: #1565c0;
}
/* line 111, ../sass/_partials/_header.scss */
.hamburger-button:before, .hamburger-button:after, .hamburger-button .hamburger-line {
  height: 3px;
  background-color: #FFFFFF;
  width: 100%;
}
/* line 117, ../sass/_partials/_header.scss */
.hamburger-button .hamburger-line {
  transition-property: opacity, background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
/* line 123, ../sass/_partials/_header.scss */
.hamburger-button:before, .hamburger-button:after {
  content: '';
  position: absolute;
  left: 0;
  transition-property: transform, background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
}
/* line 132, ../sass/_partials/_header.scss */
.hamburger-button:before {
  top: 0;
}
/* line 136, ../sass/_partials/_header.scss */
.hamburger-button:after {
  bottom: 0;
}
@media (min-width: 1025px) and (max-width: 1365px) {
  /* line 96, ../sass/_partials/_header.scss */
  .hamburger-button {
    display: none;
  }
}
@media (min-width: 1025px) {
  /* line 96, ../sass/_partials/_header.scss */
  .hamburger-button {
    display: none;
  }
}

/* line 146, ../sass/_partials/_header.scss */
.menu-list {
  display: flex;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  /* line 146, ../sass/_partials/_header.scss */
  .menu-list {
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #2f2f2f;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }
}
/* line 166, ../sass/_partials/_header.scss */
.menu-list li {
  display: flex;
}
@media (max-width: 1024px) {
  /* line 166, ../sass/_partials/_header.scss */
  .menu-list li {
    width: 100%;
  }
}
/* line 174, ../sass/_partials/_header.scss */
.menu-list .menu-item-button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
}
/* line 180, ../sass/_partials/_header.scss */
.menu-list .menu-item-button:hover, .menu-list .menu-item-button.-active {
  background-color: #1565c0;
}
@media (max-width: 1024px) {
  /* line 174, ../sass/_partials/_header.scss */
  .menu-list .menu-item-button {
    width: 100%;
    padding: 20px;
  }
}

/* line 196, ../sass/_partials/_header.scss */
.hero {
  height: 450px;
  position: relative;
}
/* line 200, ../sass/_partials/_header.scss */
.hero .owl-prev,
.hero .owl-next {
  display: block;
  width: 36px;
  height: 42px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  background-position: center;
  background-repeat: no-repeat;
  transition-property: background-color, opacity;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}
/* line 215, ../sass/_partials/_header.scss */
.hero .owl-prev:hover,
.hero .owl-next:hover {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 0.90;
}
/* line 221, ../sass/_partials/_header.scss */
.hero .owl-prev {
  background-image: url("../images/icons/arrow-left.svg");
  left: 0;
}
/* line 226, ../sass/_partials/_header.scss */
.hero .owl-next {
  background-image: url("../images/icons/arrow-right.svg");
  right: 0;
}

/* line 232, ../sass/_partials/_header.scss */
.hero-item {
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* line 239, ../sass/_partials/_header.scss */
.caption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 24px;
  text-shadow: 1px 1px 1px #000000;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
}
@media (max-width: 1024px) {
  /* line 239, ../sass/_partials/_header.scss */
  .caption {
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  /* line 239, ../sass/_partials/_header.scss */
  .caption {
    font-size: 42px;
  }
}

/* line 261, ../sass/_partials/_header.scss */
.caption-inner {
  position: absolute;
  left: 0;
  bottom: 10%;
  padding: 0 20px;
}

/* line 2, ../sass/_partials/_main.scss */
html {
  font-size: 16px;
}

/* line 6, ../sass/_partials/_main.scss */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  min-width: 320px;
  font-weight: 400;
  cursor: default;
}
/* line 17, ../sass/_partials/_main.scss */
body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/_partials/_main.scss */
.scroll-block {
  overflow: hidden;
}

/* line 26, ../sass/_partials/_main.scss */
.main-container {
  padding-bottom: 40px;
}

/* line 31, ../sass/_partials/_main.scss */
.wrapper {
  max-width: 1280px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
@media (min-width: 1025px) and (max-width: 1365px) {
  /* line 31, ../sass/_partials/_main.scss */
  .wrapper {
    padding: 0 24px;
  }
}
@media (min-width: 1025px) {
  /* line 31, ../sass/_partials/_main.scss */
  .wrapper {
    padding: 0 24px;
  }
}

/* line 42, ../sass/_partials/_main.scss */
.section {
  padding: 60px 0;
}

/* line 46, ../sass/_partials/_main.scss */
.intro-text {
  font-size: 20px;
  line-height: 1.5;
}
/* line 50, ../sass/_partials/_main.scss */
.intro-text p:not(:first-child) {
  margin-top: 15px;
}

/* line 55, ../sass/_partials/_main.scss */
.section-title {
  font-size: 32px;
  font-weight: 700;
  border-left: 3px solid #1565c0;
  padding-left: 10px;
  color: #2f2f2f;
  margin-bottom: 28px;
}

/* line 64, ../sass/_partials/_main.scss */
.secondary-title {
  font-weight: 700;
  margin-top: 40px;
}
/* line 68, ../sass/_partials/_main.scss */
.secondary-title span {
  background-color: #1565c0;
  color: #FFFFFF;
  padding: 5px;
}

/* line 75, ../sass/_partials/_main.scss */
.grid-layout {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
/* line 80, ../sass/_partials/_main.scss */
.grid-layout .grid-item {
  display: flex;
  flex-direction: column;
  width: calc(50% - 30px);
  flex-shrink: 0;
  border: 1px solid #CCCCCC;
  margin: 15px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  /* line 80, ../sass/_partials/_main.scss */
  .grid-layout .grid-item {
    width: calc(33.3% - 30px);
  }
}
@media (min-width: 1025px) and (max-width: 1365px) {
  /* line 80, ../sass/_partials/_main.scss */
  .grid-layout .grid-item {
    width: calc(20% - 30px);
  }
}
@media (min-width: 1025px) {
  /* line 80, ../sass/_partials/_main.scss */
  .grid-layout .grid-item {
    width: calc(20% - 30px);
  }
}
/* line 97, ../sass/_partials/_main.scss */
.grid-layout .grid-item:hover {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}
/* line 101, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-header {
  padding: 10px;
}
/* line 105, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-title {
  font-size: 16px;
  color: #2f2f2f;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 112, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-image {
  display: flex;
  justify-content: center;
  height: 190px;
  background-color: #EEEEEE;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 121, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
/* line 127, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-image.-vertical {
  padding: 15px;
  background-size: auto 100%;
}
/* line 133, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-description {
  flex-grow: 1;
  padding: 10px;
}
/* line 137, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-description .info {
  font-size: 12px;
  color: #444444;
  margin-top: 20px;
}
/* line 142, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-description .info .info-title {
  text-transform: uppercase;
  color: #2f2f2f;
  font-weight: 700;
  margin-bottom: 5px;
}
/* line 149, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-description .info ul {
  display: flex;
  flex-wrap: wrap;
}
/* line 153, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-description .info ul li {
  position: relative;
  margin-top: 4px;
}
/* line 157, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-description .info ul li:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
}
/* line 161, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-description .info ul li:not(:last-child):before {
  content: '|';
  position: absolute;
  right: 0;
}
/* line 172, ../sass/_partials/_main.scss */
.grid-layout .grid-item .item-action {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

/* line 181, ../sass/_partials/_main.scss */
.ribbon {
  position: relative;
  background-color: #003c8f;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  padding: 3px 5px 3px 20px;
  margin-left: -20px;
  text-transform: uppercase;
}
/* line 191, ../sass/_partials/_main.scss */
.ribbon:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent #082867 transparent transparent;
}

/* line 205, ../sass/_partials/_main.scss */
a.button {
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  background-color: #1565c0;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  color: #FFFFFF;
  overflow: hidden;
}
/* line 216, ../sass/_partials/_main.scss */
a.button:hover {
  color: #FFFFFF;
}
/* line 219, ../sass/_partials/_main.scss */
a.button:hover:before {
  transform: translateY(0);
}
/* line 224, ../sass/_partials/_main.scss */
a.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #003c8f;
  transform: translateY(calc(100% - 2px));
  transition: all 0.3s ease-in-out;
}
/* line 236, ../sass/_partials/_main.scss */
a.button span {
  position: relative;
}
